@import url('https://fonts.googleapis.com/css?family=Spectral+SC|Gentium+Basic|Montserrat|Mukta+Malar');

/*
    font-family: 'Spectral SC', serif;
    font-family: 'Mukta Malar', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Gentium Basic', serif;
*/

