@import url("reset.css");
@import url("colours.css");
@import url("fonts.css");
@import url("graha.css");
@import url("codeblock.css");

:root {
	--nav-width: 6.4rem;
	--index-width: 10rem;
	--header-height: 5.4rem;
	--article-width: 36rem;
	--footer-height: 100vh;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

h1 {
	font-family: 'Spectral SC', serif;
	font-size: 3rem;
	color: var(--title-colour);
	margin-left: 4rem;
}

h2 {
	font-family: 'Georgia', serif;
	font-size: 1.5rem;
	margin-top: 6rem;
	margin-bottom: 3rem
}

h3 {
	font-family: 'Georgia', serif;
	font-size: 1.2rem;
	margin-top: 3rem;
	margin-bottom: 2rem
}

p {
	font-family: 'Georgia', serif;
	margin-top: 2rem;
	margin-bottom: 2rem;
	line-height: 1.6rem;
}

a, object {
	display: inline-block;
}

object {
	pointer-events: none;
}

a, a:visited{
	color: var(--href-colour);
	text-decoration: none;
}

header,
footer {
}

header {
	background-color: #f3f3f3;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 20;
	position: relative;
	box-shadow: 5px 0px 20px 2px rgba(0,0,0,0.6);
	padding-left: 0.5rem;
	justify-content: left;
  height: 5rem;
}

.all-site-wrapper {
	display: grid;
	grid-template-columns: var(--nav-width) var(--index-width) auto 5rem;
	grid-template-rows: 100%;
	grid-gap: 0;
}

/* Hide whithe flash whilst changing page. */
body.loading {
  opacity: 1;
  transition: none;
}

/* Perform once page has loaded */
body:not(.loading) #image {
  display:none;
}

body {
  opacity: 1;
  transition: 0.001s opacity;
	background-color: var(--bg-colour);
	color: var(--text-colour);
	margin: 0;
	padding: 0 0;
}

nav {
	backface-visibility: hidden;
	z-index: 30;
	background-color: var(--bg-black-colour);
	min-height: 100vh;
	box-shadow: 2px 5px 10px 2px rgba(0,0,0,0.6);
}

nav ul,
.index ul {
	top: 0rem;
	position: -webkit-sticky;
	position: sticky;
}

nav li {
	padding-top: 1rem;
	padding-left: 0.25rem;
  height: 6rem;
}

.index ul {
	margin-top: 1rem;
	margin-right: 0.5rem;
}

.index li {
	display: flex;
	align-items: center;
	z-index: 40;
	position:relative;
	right:1rem;
	font-family: 'Montserrat', sans-serif;
	height: 2rem;

	/* http://www.colorzilla.com/gradient-editor/#fff5e2+0,000000+100&0.35+0,0.03+100 */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjVlMiIgc3RvcC1vcGFjaXR5PSIwLjM1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wMyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255,245,226,0.35) 0%, rgba(0,0,0,0.03) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,245,226,0.35)), color-stop(100%,rgba(0,0,0,0.03)));
	background: -webkit-linear-gradient(top, rgba(255,245,226,0.35) 0%,rgba(0,0,0,0.03) 100%);
	background: -o-linear-gradient(top, rgba(255,245,226,0.35) 0%,rgba(0,0,0,0.03) 100%);
	background: -ms-linear-gradient(top, rgba(255,245,226,0.35) 0%,rgba(0,0,0,0.03) 100%);
	background: linear-gradient(to bottom, rgba(255,245,226,0.35) 0%,rgba(0,0,0,0.03) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59fff5e2', endColorstr='#08000000',GradientType=0 );
	box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
}

.index li:hover:not(.selected) {
	right:0.5;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdfcf9+0,f3f2e1+61,faf8f2+100 */
	background: rgb(253,252,249);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmNmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYxJSIgc3RvcC1jb2xvcj0iI2YzZjJlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYWY4ZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(253,252,249,1) 0%, rgba(243,242,225,1) 61%, rgba(250,248,242,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,252,249,1)), color-stop(61%,rgba(243,242,225,1)), color-stop(100%,rgba(250,248,242,1)));
	background: -webkit-linear-gradient(top, rgba(253,252,249,1) 0%,rgba(243,242,225,1) 61%,rgba(250,248,242,1) 100%);
	background: -o-linear-gradient(top, rgba(253,252,249,1) 0%,rgba(243,242,225,1) 61%,rgba(250,248,242,1) 100%);
	background: -ms-linear-gradient(top, rgba(253,252,249,1) 0%,rgba(243,242,225,1) 61%,rgba(250,248,242,1) 100%);
	background: linear-gradient(to bottom, rgba(253,252,249,1) 0%,rgba(243,242,225,1) 61%,rgba(250,248,242,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfcf9', endColorstr='#faf8f2',GradientType=0 );
}

.index .selected {
	right:0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefdf6+0,f9f7cf+61,fcf9ec+100 */
	background: rgb(254,253,246);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmRmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYxJSIgc3RvcC1jb2xvcj0iI2Y5ZjdjZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmY2Y5ZWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(254,253,246,1) 0%, rgba(249,247,207,1) 61%, rgba(252,249,236,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,253,246,1)), color-stop(61%,rgba(249,247,207,1)), color-stop(100%,rgba(252,249,236,1)));
	background: -webkit-linear-gradient(top, rgba(254,253,246,1) 0%,rgba(249,247,207,1) 61%,rgba(252,249,236,1) 100%);
	background: -o-linear-gradient(top, rgba(254,253,246,1) 0%,rgba(249,247,207,1) 61%,rgba(252,249,236,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,253,246,1) 0%,rgba(249,247,207,1) 61%,rgba(252,249,236,1) 100%);
	background: linear-gradient(to bottom, rgba(254,253,246,1) 0%,rgba(249,247,207,1) 61%,rgba(252,249,236,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefdf6', endColorstr='#fcf9ec',GradientType=0 );
}

.index li a {
	display: block;
	width: 100%;
	height: 100%;
	padding-left: 1.4rem;
	padding-top: 0.55rem;
	color: #777;
}

article {
	margin-left: 2rem;
	max-width: var(--article-width);
	width: 100%;
	text-align: justify;
}

aside {
}

footer {
	position: relative;
	border: solid;
	border-width: 1px 0 0 0;
	height: var(--footer-height);
}
