ex_03.09-fractal_net/assets
ex_04.11-github_client/assets
ex_04.11-github_client/config.json*
*assets
*temp
ex_04.12-xkcd.old
ex_04.12-xkcd.old/
ex_04.14-webserver/cache/connect
ex_04.14-webserver/cache/golang.*
ex_04.14-webserver/cache/8i8.*
.projectile
